<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跳转至大屏</title>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
</head>
<body>

</body>
<script>
    var winurl = window.location.href;
    var winurlarr = winurl.split('?');
    var bigScId = '';
    if(winurlarr.length > 1) {
        bigScId = winurl.split('?')[1];
        if (bigScId != null && bigScId != '') {
            var urlN = "http://localhost:5050/my/bigScreen/";
           // window.open("http://www.jb51.net");  //会被拦截
            var tempwindow=window.open('_blank'); // 先打开页面
            if(bigScId == '1'){ //物联网大屏
                tempwindow.location= urlN + 'wulianwang.html'; // 后更改页面地址
            }

        }
    }
</script>
</html>