<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" href="../from/css/bootstrap.min.css">
    <link rel="stylesheet" href="../from/css/ui.jqgrid-bootstrap.css">
    <link href="../Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/common.css">


    <script type="text/javascript" src="../from/js/jquery.min.js"></script>
    <script type="text/javascript" src="../from/js/vue.min.js"></script>
    <script type="text/javascript" src="../from/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../from/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="../from/js/grid.locale-cn.js"></script>
    <!--<script type="text/javascript" src="../from/js/jquery.datetimepicker.full.min.js"></script>-->
    <script type="text/javascript" src="../from/js/common.js"></script>
    <!--<script type="text/javascript" src="../from/js/laydate.js"></script>-->
    <script type="text/javascript" src="../from/js/layer.js"></script>

    <script type="text/javascript" src="../ztree/jquery.ztree.all.min.js"></script>
   <!-- <script type="text/javascript" src="../from/js/d3.js"></script>
    <script type="text/javascript" src="../from/js/d3.min.js"></script>-->
<style>
        #jqGrid tr td{
            text-align:center;
            font-size:16px;
        }
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height:auto;
            vertical-align:text-top;
            display: table-cell;
            vertical-align: middle;
        }
</style>
</head>
<body style="overflow-y: hidden;overflow-x: hidden">
<div id="rrapp">
    <div class="grid-btn">
        <input id="menuName" type="text" autocomplete="off" placeholder="菜单名称" class="search-input" />
        <button type="button" class="btn btn-info" @click="search"><i class="icon-search"></i> 查询</button>
        <button type="button"  class="btn btn-primary" @click="add"><i class="icon-plus"></i> 新增菜单</button>
        <!--<button type="button"  class="btn btn-warning" @click="update">修改</button>-->
        <button type="button"  class="btn btn-danger"  @click="del"><i class="icon-trash"></i> 批量删除</button>
    </div>
    <table id="jqGrid"></table>

    <div style="position:fixed;left:0px; bottom:0; _position:absolute;" id="jqGridPager"></div>

    <!--新增-->
    <div id="menuLayer" style="width:75%;margin-left:25px;display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-4 control-label"><span style="color: red;">*</span>菜单名称：</div>
                    <!--<span class="label label-success" style="vertical-align: bottom;">{{user.username}}</span>-->
                    <div class="col-sm-8">
                        <!--<input type="password" class="form-control" v-model="password" placeholder="原密码"/>-->
                        <input type="text" class="form-control" v-model="menu.menuName" placeholder="菜单名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">菜单图标：</div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" v-model="menu.menuIcon"  placeholder="菜单图标"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">菜单URL：</div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" v-model="menu.menuUrl" placeholder="菜单URL"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label"><span style="color: red;">*</span>菜单排序：</div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" v-model="menu.orderNum" placeholder="菜单排序"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label"><span style="color: red;">*</span>上级菜单：</div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" style="cursor:pointer;" v-model="menu.parentName" @click="menuTree" readonly="readonly" placeholder="一级菜单"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 选择菜单 -->
<div id="menuLayer2" style="display: none;">
    <ul id="menuTree" class="ztree"></ul>
</div>
<script src="../js/sys/menu.js"></script>
</body>
</html>