<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>折线图</title>
    <link rel="stylesheet" href="../from/css/bootstrap.min.css">
    <link rel="stylesheet" href="../from/css/ui.jqgrid-bootstrap.css">
    <link href="../Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../ztree/css/metroStyle/metroStyle.css">
  <!--  <link rel="stylesheet" href="../from/js/skin/default/layer.css">-->
    <!--
        <link rel="stylesheet" href="../from/css/metroStyle.css">
        <link rel="stylesheet" href="../from/css/main.css">
        <link rel="stylesheet" href="../from/js/skin/default/layer.css">-->

    <script type="text/javascript" src="../from/js/jquery.min.js"></script>
    <script type="text/javascript" src="../from/js/vue.min.js"></script>
    <script type="text/javascript" src="../from/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../from/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="../from/js/grid.locale-cn.js"></script>
    <!--<script type="text/javascript" src="../from/js/jquery.datetimepicker.full.min.js"></script>-->
    <script type="text/javascript" src="../from/js/common.js"></script>
    <script type="text/javascript" src="../from/js/laydate.js"></script>
    <script type="text/javascript" src="../from/js/layer.js"></script>

    <script type="text/javascript" src="../echarts/js/echarts-3.4.0.min.js"></script>


</head>
<body style="overflow-y: hidden;overflow-x: hidden">
<div id="rrapp">
    <div id="main" style="width: 50%;height:275px;"></div>
    <div id="main1" style="width: 50%;height:275px;"></div>
    <div id="main2" style="width: 50%;height:275px;"></div>
</div>
<script src="../js/sys/zhexian.js"></script>
</body>
</html>